body{
    background: #e9ecf4;
    color: black;
    font-family: 'roboto', sans-serif;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    background-color: #781bad;
}


.header{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.20) ;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{

    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;

}

.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;
}

.header .navigation ul li a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.header .navigation ul li a:hover {

    background-color: #ed3c57;
}

.header .navigation ul li ul {
    position:absolute;
    right: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.20);
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li {
    width: 100px;
}

.header .navigation ul li:hover > ul {
    display: initial;
}

.header .navigation ul li ul li span {
    float: right;
    color: #fff;
    background-color: #c43348;
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    border-radius: 5px;

}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

img {
    width: 45px;
    height: 35px;
}

@media(max-width: 650px) {

    .header label {
        display: initial;
    }

    .header{
        padding: 20px 10px;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.20);
        display: none;
    }


    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10;
    }
    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li {
        background-color: rgba(255, 255, 255, 0.20);
    }
    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li span {
        padding: 4px 10px;
        font-size: 10px;
    }

    #toggle:checked ~ .navigation {
         display: block;
    }
}

.hero {
   
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}                      